<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Website</title>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.css" /> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.js"></script> -->
  </head>
  <body>
	<!-- <div class="header"> -->
	<!-- <h1>Tom Pollak</h1> -->
	<!-- </div> -->
	<div class="mainbody">
		<p id="hello">Hello</p>
		<input
			id="color-slider"
			class="color-slider"
			type="range"
			min="-180"
			max="180"
			value="0"
			data-value="180"
		></input>
		<button>Click me!</button>
	</div>
  </body>
</html>
