input.color-slider {
  -webkit-appearance: none;
  // width: 200px;
  width: 100%;
  height: 20px;
}

// input.color-slider[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background-color: $primary-color;
//   opacity: 0.5;
//   width: 10px;
//   height: 26px;
// }
